.gameboard {
  display: flex;
  flex-direction: row;
  background-color: #6649c4;
  padding: 10px;
  border-radius: 20px;
  aspect-ratio: 1;
  max-height: 400px;
  min-height: 300px;
}

.square__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.square {
  border-radius: 25px;
  aspect-ratio: 1;
  background-color: #402ca2;
  margin: 5px;
}

.images {
  display: flex;
  z-index: 1;
  width: 10%;
  height: 10%;
}

.winner {
  background-color: #26d074;
}
