<div class="container">
  <div class="players">
    <span *ngFor="let player of players">
      <Strong>{{ player.name | titlecase }}</Strong>
    </span>
  </div>

  <div class="select_figure">
    <div
      class="figure_button"
      [ngClass]="{ 'figure_button--blue': selectedFigure === 'X' }"
      (click)="changeSelectedFigure('X')"
    >
      X
    </div>
    <div
      class="figure_button"
      [ngClass]="{ 'figure_button--red': selectedFigure === 'O' }"
      (click)="changeSelectedFigure('O')"
    >
      O
    </div>
  </div>
</div>
