.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-family: system-ui;
}

.title {
  margin: 10px;
  font-size: 50px;
}

.container__buttom {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.buttons {
  padding: 10px;
  margin: 10px;
  color: white;
  border-radius: 15px;
  width: 80%;
  font-size: large;
  font-family: inherit;
  background: #2c87bc;
}
